@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --tds-blur--button: 16px;

    --tds-theme-background-container-alt: rgba(0, 0, 0, 0.2);

    --tds-border-radius--pill: 4px;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;

    --tds-blur--button: 16px;

    --tds-theme-background-container-alt: rgba(0, 0, 0, 0.05);

    --tds-border-radius--pill: 4px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

.text-muted-foreground {
  color: hsl(var(--muted-foreground));
}

.before-menu-shadow {
  position: absolute;
  top: 0;
  height: 6px;
  width: 100%;
  box-shadow: inset 0px 6px 8px -3px rgba(0, 0, 0, 0.15);
}

.after-menu-shadow {
  position: absolute;
  bottom: 0;
  height: 6px;
  width: 100%;
  box-shadow: inset 0px -6px 8px -3px rgba(0, 0, 0, 0.15);
}

.home-bg {
  background-image: url('/homebase-tablet.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.SelectContent {
  width: var(--radix-select-trigger-width);
  max-height: 400px;
}

.tds-animate--backdrop-backdrop {
  -webkit-backdrop-filter: blur(var(--tds-blur--button));
  backdrop-filter: blur(var(--tds-blur--button));
  background-color: var(--tds-theme-background-container-alt);
  block-size: var(--tds-animate-backdrop-height, 1px);
  border-radius: var(--tds-border-radius--pill);
  display: block;
  inline-size: var(--tds-animate-backdrop-width, 1px);
  left: var(--tds-animate-backdrop-left, 0);
  opacity: var(--tds-animate-backdrop-opacity, 0);
  position: absolute;
  top: var(--tds-animate-backdrop-top, 0);
  transition: var(--tds-animate-backdrop-transition, opacity 0.5s ease, visibility 0s 0s);
  visibility: var(--tds-animate-backdrop-visibility);
  z-index: -1;
}

.tds-site-nav-item-text {
  color: var(--tds-nav-item--color);
  margin: 0 var(--tds-size--1x);
  transition: color 0.33s ease;
}

.video-container {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 100%;
  height: auto;
}
